*,
*:after,
*:before {
  box-sizing: border-box;
}

@font-face {
  font-family: QucikSand;
  src: url(../ressources/Quicksand.ttf);
  font-display: swap;
}

$main: #90a3ff;
// f89659
$main_frg: #ffffff;
$dark_mode: #303030;
$black_mode: black;

* {
  font-family: QucikSand;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: 0;
}
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: $black_mode;
  color: white;
}
.profile-card {
  text-align: center;
  overflow: hidden;
  transition: all 0.3s linear;
  margin-top: -5vh;
  border-radius: 8px;
  min-width: 00px;
  width: 32%;

  .card-footer {
    opacity: 0;
    transform: translateY(4em);
  }
  .card-header {
    transform: translateY(3em);
    transition: 200ms all;
  }
  &:hover {
    .card-footer {
      opacity: 1;

      transform: translateY(0);
      visibility: visible;
      transition: 200ms all;
    }
    .card-header {
      transition: 200ms all;
      transform: translateY(0em);
    }
  }
}

.card-header {
  background: $main;
  padding: 60px 40px;
}
.pic {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #8fbfff, #fcfeff);
  margin: auto;
  background-size: 200% 200%;
  animation: w70 2s, animated-gradient 2s linear infinite;
  border-radius: 50%;
  transition: border linear 3s;

  #img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(../images/photo.jpeg);
    background-size: 100%;
  }
}
.bluredbottom {
  position: absolute;
  filter: blur(5px);
  box-shadow: rgb(255, 255, 255) 0px 0 10px 45px;
  bottom: -6vh;
  width: 100%;
}
.name {
  color: #f2f2f2;
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px 0;
}
.desc {
  font-size: 16px;
  color: $main_frg;
}
.sm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  a {
    animation: w71 1s;
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: 0.3s linear;
    &:hover {
      color: $main_frg;
    }
  }
}
.contact-btn {
  display: inline-block;
  padding: 12px 50px;
  color: $main_frg;
  border: 2px solid $main_frg;
  border-radius: 24px;
  margin-top: 16px;
  animation: w71 1s;
  &:hover {
    background: white;
    color: black;
  }
}
.card-footer {
  background: #484848a1;
  cursor: url("..//images/cursor.png") 16 16, auto;
  padding: 20px 10px;
}
.numbers {
  display: flex;
  align-items: center;
}
.item {
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  span {
    display: block;
    color: white;
    font-size: 30px;
  }
}
.border {
  width: 1px;
  height: 30px;
  background: #bbb;
}
a#close {
  font-size: 13px;
  padding: 6px 10px 6px 10px;
  user-select: none;
  text-align: center;
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: rgb(247, 141, 141);
  &:hover {
    color: rgb(117, 116, 114);
    background-color: rgb(196, 196, 196);
    border-radius: 4px;
    transition: 0.3s;
  }
  &:active {
    color: orange;
    background-color: white;
  }
}
.info {
  overflow: hidden;
  margin-top: -5vh;
  margin-left: 50px;
  padding: 20px 15px 20px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  z-index: 100;

  display: block;
  box-shadow: 0 3px 3px 1px rgba(167, 167, 167, 0.301);
  width: 45%;
  transition: all 0.3s;
  opacity: 0.9;
  position: relative;

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    padding: 3px;
    span {
      border: 2px solid black;
      border-radius: 1px;
      color: rgb(5, 5, 5);
      padding: 1px 4px;
      user-select: none;
      &:hover {
        transition: 0.3s;
        cursor: pointer;
        background: black;
        color: white;
      }
    }
  }

  p {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.6;
  }

  & * {
    margin: 15px 0;
  }
}
::marker {
  &:active {
    color: white;
  }
}
details {
  user-select: none;
  summary {
    border-radius: 8px;
    cursor: pointer;
  }
}
details[open] {
  summary {
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    margin-bottom: 0.5em;
  }
  summary ~ * {
    padding-left: 8px;
    animation: sweep 1s ease-in-out;
  }
}
h1 {
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
.content {
  clear: both;
  width: 100%;
  margin: auto;
  padding: 50px 0px 50px 0px;
  text-align: center;
  align-items: center;
  overflow: hidden;

  position: relative;
  p {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    line-height: 1.6;
    text-align: center;
  }
}

.contact {
  background-color: black;

  h2 {
    display: flex;
    gap: 20px;
    color: white;
  }

  p#desc {
    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 600px;
    padding: 15px 0;
  }
  form {
    margin-bottom: 50px;
  }
}

.whoami {
  padding: 50px 0 calc(50px + 5vh) 0;
  background: rgb(255, 255, 255);

  h2 {
    padding: 15px 0;
  }
  p {
    padding: 15px 0;
    padding-bottom: 40px;
  }
}

input {
  outline: none;
  width: 300px;
  padding: 4px;
  vertical-align: top;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px white;
  cursor: url("..//images/cursor.png") 16 16, auto;
  &:hover {
    background-color: rgb(175, 185, 254);
  }
  &:focus {
    background-color: rgb(175, 185, 254);
    border-radius: 15px;
    transition: 0.5s;
  }
  &:valid + span {
    &:not(#spansubmit) {
      &:after {
        position: absolute;
        display: inline-block;
        margin-left: 15px;
        color: rgb(255, 255, 255);
        content: "✓";
      }
    }
  }
}
textarea {
  outline: none;
  width: 300px;
  padding: 4px;
  vertical-align: top;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px white;
  cursor: url("..//images/cursor.png") 16 16, auto;
  height: 5em;
  padding: 15px;
  resize: vertical;
  &:hover {
    background-color: rgb(175, 185, 254);
  }
  &:focus {
    background-color: rgb(175, 185, 254);
    border-radius: 15px;
    transition: 0.5s;
  }
}
#sujet {
  width: 250px;
}
input#btnsubmit {
  cursor: pointer;
  position: relative;
  background-size: 200% 100%;
  font-size: 14px;
  font-weight: 500;
  transition: background-position 0.5s;

  border-radius: 4px;
  height: 38px;

  background-image: linear-gradient(
    90deg,
    rgb(80, 69, 65) 50%,
    rgb(255, 255, 255) 50%
  );
  &:hover {
    transition: 1s;
    background-image: linear-gradient(
      90deg,
      rgb(94, 79, 72) 50%,
      rgb(255, 255, 255) 50%
    );
  }
}
label {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  vertical-align: top;
  text-align: right;
}
form {
  p {
    padding-top: 1.8vw;
  }
  label {
    width: 300px;
  }
  width: 60%;
  margin: auto;
  margin-top: 15px;
  padding: 40px 0 40px 0;
  background-color: black;
  color: white;
  border: 0px solid white;
  border-radius: 2px;
  overflow-y: hidden;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
footer {
  clear: both;
  width: 100%;
  margin: auto;
  margin-top: 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  align-items: center;
  color: white;
  background: black;
  a {
    color: rgb(87, 87, 138);
  }
}
section#swap1 {
  background-color: white;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 10px;
  display: inline-block;

  h2 {
    background-color: rgb(236, 236, 236);
  }
  a {
    &:not(#close) {
      color: rgb(247, 141, 141);
    }
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/bg.jpg) no-repeat center;
  background-color: whitesmoke;
  background-size: cover;
  background-attachment: local;
  min-height: 105vh;
  position: relative;
}
.scroll {
  display: inline-block;
  right: 3px;
  position: absolute;
  user-select: none;
  bottom: 0.9em;
  font-size: 1.5rem;
  margin: 2em 1.5em;

  a {
    padding: 5px 15px;
    color: rgb(99, 101, 110);
    font-weight: 700;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.265);
    box-shadow: 0 3px 3px 1px rgba(107, 107, 107, 0.69);
    &:hover {
      transition: 0.2s linear;
      background: rgba(255, 255, 255, 0.663);
    }
    &:active {
      transition: 1s ease-out;
      background: none;
    }
  }
}
span#highlight {
  background-color: #d9e9fa;
}
.boxcontainer {
  padding: 50px 100px;
  position: relative;

  #active {
    display: flex;
    opacity: 0;
    visibility: hidden;
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) rotateX(14deg) rotateY(340deg);
    position: absolute;
    z-index: 1000;
    background: rgb(255, 255, 255);
    background-position: right 10px top;
    color: black;
    transition: 0.5s ease-in;
    cursor: url("..//images/cursor.png") 16 16, auto;
    background-position: right;
    background-size: 100px 100px;
    overflow: hidden;
    background-repeat: repeat;
    &:hover {
      background-size: 500px 300px;
      background-position-x: 30px;
    }

    #highlight {
      position: absolute;
      width: 30%;
      height: 100%;
      border: 1px solid black;
      right: 0em;
      top: 0em;
      opacity: 1;
      background: $main_frg;

      p {
        opacity: 0;
        transition: 400ms;
        transform: translateY(-50px);
        margin-top: 5px;
        color: white;
        background: black;
        padding: 3px;
        margin-bottom: -15px;
      }
    }
  }
}
.section-title {
  position: relative;
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #ff9494;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001f;
  }
}
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: rgb(250, 248, 248);
  border-radius: 30px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: rgb(250, 248, 248);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    top: 110px;

    background-image: url(../images/wave3.svg);
    background-repeat: no-repeat;
    background-size: cover;

    left: 0;
    z-index: -500;
  }
}

// .project3 {
// 	background: rgb(255, 118, 118);
//     display: none;
// }
// .project4 {
// 	background: rgb(197, 255, 192);
//     display: none;
// }
.project-box {
  &::before {
    color: rgb(218, 84, 84);
    content: "En savoir plus";
    background: white;
    opacity: 0.9;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100%;
    transition: left 0.4s;
    font-size: 25px;
    font-weight: 500;
    border: solid 0px white;
  }
  &:hover {
    &::before {
      left: 0;
    }
    color: rgb(175, 27, 27);
    transform: scale(1.01);
  }
  position: relative;
  background-position: center;
  cursor: zoom-in;
  text-decoration: none;
  color: black;
  overflow: hidden;
  transition: background 0.4s;
  gap: 30px;
}
.project1 {
  background: rgb(255, 118, 118);
  background-image: url(../images/casarosa.png);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 150px 150px;
}
.project2 {
  background: rgb(213, 213, 248);
  background-image: url(../images/rv-services.svg);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
}
.project-bio {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.247);
  height: 70px;
}
.project-name {
  font-weight: 500;
  font-size: 30px;
  margin-top: -5px;
}
.project-price {
  font-weight: 300;
  font-size: 15px;
  position: absolute;
  bottom: 5px;
}
.no-grid {
  height: 300px;
  flex: 1;
  min-width: 350px;
}
#spansubmit {
  transform: rotate(270deg);
  position: absolute;
  margin-left: -298px;
  padding: 5px;
  transition: ease-in-out 0.2s;
  color: rgb(0, 0, 0);
  display: none;
  transition: 1s;
}

#topscroll {
  animation: fadeinright 1s;
}
#mailsender {
  animation: fadeinup 1s;
  transition: 1.2s;
}
#topscroll,
#mailsender {
  position: fixed;
  margin: 1em;
  right: 10px;
  bottom: 10px;

  a {
    opacity: 0.7;
    border-radius: 30px;
    text-align: center;
    padding: 8px 15px;
    background: rgba(255, 255, 255, 1);
    font-size: 30px;
    color: black;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.301);
    &:hover {
      color: $dark_mode;
      opacity: 1;
    }
  }
}
#mailsender {
  display: none;
  a {
    font-size: 30px;
    padding: 10px 15px;
  }
}

// Responsive

//* IPAD mode *
@media screen and (min-width: 700px) and (max-width: 1024px) {
  .boxcontainer {
    #active {
      width: 50%;
      #highlight {
        width: 50%;
        
        p {
          margin-top: 100px;
          margin-bottom: -100px;
        }
      }
    }
  }
  .profile-card {
    &,
    &:hover {
      .card-footer {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
      .card-header {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  header {
    margin: auto;
    width: 100%;
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: auto;

    & > * {
      margin-top: 0;
    }
  }
  .info {
    margin: auto;
    border-radius: 8px;
    width: 99%;
    margin-top: 20px;
    opacity: 1;
    animation: none;
  }
  .profile-card {
    margin: auto;
    border-radius: 0px;
    min-width: 400px;
    width: 75%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  form {
    label {
      max-width: 200px;
      width: 90%;
    }
    width: 80%;
    border-radius: 0px;
    padding: 40px 0px 40px 0px;
    textarea {
      width: 80%;
      min-height: 10em;
      height: auto;
    }
  }
  .scroll {
    display: none;
  }
  .whoami {
    padding: 50px 0 50px 0;
  }
  .bluredbottom {
    display: none;
  }
}

//* Mobile mode *

@media screen and (max-width: 700px) {
  .boxcontainer {

    #active {
      width: 0%;
      background-size: 0% 0%;
      
      &:hover {
        background-size: 0% 0%;
      }
      #highlight {
        background: rgba(255, 255, 255, 0.585);
        width: 100%;
        
        p {
          margin-top: 200px;
          margin-bottom: -200px;
        }
      }
    }
  }
  .profile-card {
    &,
    &:hover {
      .card-footer {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
      .card-header {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .info {
    margin: auto;
    width: 90%;
    margin-top: 20px;
    border-radius: 15px;
    display: block;
    animation: none;
    margin-bottom: 20px;
  }
  header {
    display: flex;

    background-position-y: 150px;
    min-height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    & > * {
      margin-top: 0;
    }
  }
  form {
    label {
      max-width: 200px;
      width: 90%;
    }
    width: 98%;
    border-radius: 0px;
    padding: 40px 0px 40px 0px;
    display: grid;
    input {
      max-width: 400px;
    }
    textarea {
      min-height: 10em;
      max-width: 400px;
    }
  }
  .profile-card {
    margin: auto;
    border-radius: 0px;
    width: 100%;
  }
  .scroll {
    display: none;
  }
  .whoami {
    padding: 50px 0 50px 0;
  }
  .bluredbottom {
    display: none;
  }
  #spansubmit {
    margin-left: -300px;
  }
}

//* Dark mode *
@media (prefers-color-scheme: dark) {
  .card-footer {
    background: $dark_mode;
    opacity: 0.9;
  }
  .item {
    span {
      color: white;
    }
  }
  .info {
    color: white;
    background: $dark_mode;
    h2 {
      span {
        background-color: black;
        color: white;
      }
    }
  }
  section#swap1 {
    background-color: $dark_mode;

    h2 {
      background-color: rgb(92, 47, 47);
    }
  }
  .content {
    margin-top: 0px;
  }
  .whoami {
    color: rgb(255, 255, 255);
    background: $dark_mode;
  }
  footer {
    background: $dark_mode;
    color: white;
    a {
      color: rgb(247, 141, 141);
    }
  }
  span#highlight {
    background-color: $main_frg;
    padding: 0 4px;
    border-radius: 1px;
  }
  a#link {
    color: rgb(247, 141, 141);
  }
  .bluredbottom {
    box-shadow: $dark_mode 0px 0 10px 45px;
  }
  .scroll {
    a {
      background: rgba(0, 0, 0, 0.555);
    }
  }
  input,
  textarea {
    background: $dark_mode;
    color: white;
    &:hover {
      background: $dark_mode;
      color: white;
    }
    &:focus {
      background: $dark_mode;
      color: white;
    }
  }
}
