footer {
    clear: both;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    align-items: center;
    color: white;
    background: #303030;
    a {
      color: #f78d8d;
    }


  }
  