@import 'src/colors';
.popup:not(:empty) {
  @apply absolute top-0 left-0 items-center bg-gray-500 bg-opacity-75 w-full text-center text-white;
  z-index: 999;

}
header {
    @apply flex justify-center items-center bg-gray-100 bg-cover bg-local h-[100dvh] relative;
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    filter: grayscale(1);
    
    
    & .profile-card {
      text-align: center;
      overflow: hidden;
      transition: all 0.3s linear;
      border-radius: 8px;
      min-width: 0px;
      width: 100%;
      max-width: 25rem;
      
    
      .card-footer {
        opacity: 0;
        transform: translateY(4em);
      }
      & .card-header {
        background: $main;
        padding: 50px 40px;
        transform: translateY(3em);
        transition: 200ms all;

        & .pic {
          display: inline-block;
          padding: 8px;
          background: linear-gradient(130deg, #303030, #fcfeff);
          background-size: 200% 200%;
          animation: w70 2s, animated-gradient 2s linear infinite;
          border-radius: 50%;
          transition: border linear 3s;
        
          #img {
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: url(../images/photo.jpg);
            background-size: 100%;
          }
        }

        .name {
          margin-top: 1rem;
          color: #f2f2f2;
          font-size: 1.2em;
          font-weight: 600;
        }
        .desc {
          font-size: 16px;
          color: $main_frg;
        }
        .sm {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 1rem;
          a {
            animation: w71 1s;
            color: #f2f2f2;
            width: 56px;
            font-size: 22px;
            transition: 0.3s linear;
            &:hover {
              color: $main_frg;
            }
          }
        }
        .contact-btn {
          display: inline-block;
          padding: 12px 50px;
          color: $main_frg;
          border: 2px solid $main_frg;
          border-radius: 24px;
          animation: w71 1s;
          margin-top: 2rem;
          &:hover {
            background: white;
            color: black;
          }
        }
      }
      & .card-footer {
        background: #303030;
        cursor: url("..//images/cursor.png") 16 16, auto;
        padding: 20px 10px;
        
        .numbers {
          display: flex;
          align-items: center;
        }
        .item {
          flex: 1;
          text-transform: uppercase;
          font-size: .8rem;
          color: white;
          span {
            display: block;
            color: white;
            font-size: 1.5rem;
          }
        }
        .border {
          width: 1px;
          height: 30px;
          background: #bbb;
        }
      }
      &:hover {
        .card-footer {
          opacity: 1;
    
          transform: translateY(0);
          visibility: visible;
          transition: 200ms all;
        }
        .card-header {
          transition: 200ms all;
          transform: translateY(0em);
        }
      }
    }
    & .scroll {
      @apply right-3 absolute select-none text-2xl bottom-5;
    
      a {
        @apply p-1 pl-4 pr-4 text-gray-200 font-bold rounded-lg;
        background-color: rgba(33, 33, 33, 0.3);
        box-shadow: 0 3px 3px 1px rgba(107, 107, 107, 0.69);
        transition: 0.2s linear;
        &:hover {
          @apply text-gray-100;
          background-color: rgba(255, 255, 255, 0.3);
        }
        }
    }
        
        
}



@media screen and (max-width: 768px) {
  header {
  }
  
}