.bluredbottom {
    position: absolute;
    filter: blur(5px);
    box-shadow: #303030 0px 0 10px 45px;
    bottom: -6vh;
    width: 100%;
}
::marker {
    &:active {
      color: white;
    }
  }

  span#highlight {
    @apply pl-1 pr-1;
    background-color: #3c6a9f;
   white-space: nowrap;
  }

  .whoami {
    padding: 50px 0 calc(50px + 5vh) 0;
    background: #303030;
  
    h2 {
      padding: 15px 0;
    }
    p {
      padding: 15px 0;
      padding-bottom: 40px;
    }
  }