* {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
}
@font-face {
    font-family: QucikSand;
    src: url(./ressources/Quicksand.ttf);
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }
    100% {
        opacity: 1;
        margin-left: 0px
    }
}
@keyframes animated-gradient {
    25% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: right top;
    }
    100% {
        background-position: left top;
    }
}

html {
    scroll-behavior: smooth;
    font-family: "QucikSand", sans-serif;
}

::selection {
    background-color: #e66767;
    color: white;
}

.profile-card {
    text-align: center;
    overflow: hidden;
    transition: all .3s linear;
}

.profile-card:hover {
    opacity: 0.95;
}

.card-header {
    background: #f89659;
    padding: 60px 40px;
}

@keyframes w70 {
    from {  
        border-radius: 0%;
        background: none;
        transform: translateY(-20px);
       
    }
    to {  border-radius: 50%;
        background: linear-gradient(130deg, #ffffff, #ffffff); }
}
@keyframes w71 {
    from {  
        border-color:#ffffff;
        color:#ffffff;
       
    }
}
@keyframes w72 {
    from {  
        transform: translateY(-1000px);
    }
}

.pic {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #8fbfff, #fcfeff);
    margin: auto;
    
    background-size: 200% 200%;
    animation: w70 2s, animated-gradient 2s linear infinite;

    border-radius: 50%; 
    transition: all linear 3s;
   
}

.bluredbottom {
    position: absolute;
    filter: blur(5px);
    box-shadow: rgb(255, 255, 255) 0px 0 10px 45px;
    bottom: -6vh;
    width: 100%;
}

.pic img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

.name {
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #e66767;
}

.sm {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}

.sm a {
    animation: w71 1s;
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}

.sm a:hover {
    color: #e66767;
}

.contact-btn {
    display: inline-block;
    padding: 12px 50px;
    color: #e66767;
    border: 2px solid #e66767;
    border-radius: 24px;
    margin-top: 16px;
    animation: w71 1s;
    
}

.contact-btn:hover {
    background: linear-gradient(#e66767, #e66767cb);
    color: #f2f2f2;
}

.card-footer {
    background: #f4f4f4;
    padding: 40px 10px;
}

.numbers {
    display: flex;
    align-items: center;
}

.item {
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;
}

.item span {
    display: block;
    color: #2c3a47;
    font-size: 30px;
}

.border {
    width: 1px;
    height: 30px;
    background: #bbb;
}

a.close {
    font-size: 13px;
    padding: 6px 10px 6px 10px;
    text-align: center;
    float: right;
    cursor: pointer;
    color: rgb(247, 141, 141);
}

a.close:hover {
    color: rgb(117, 116, 114);
    background-color: rgb(196, 196, 196);
    border-radius: 4px;
    transition: .3s;
}

a.close:active {
    color: orange;
    background-color: white;
}

.info {
    overflow: hidden;
    margin-left: 50px;
    padding: 20px 15px 20px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    animation: w72 2s;
}

.info h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    padding: 3px;
}

.info h2 span {
    border: 2px solid black;
    border-radius: 1px;
    color: rgb(5, 5, 5);
    padding: 1px 4px;
    user-select: none;
    
}

.info h2 span:hover {
    transition: 0.3s;
    cursor: pointer;
    background: black;
    color: white;
}

::marker:active {
    color: white;
}

details {
    user-select: none;
}

details[open] summary {
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    margin-bottom: .5em;
}

details[open] summary~* {
    padding-left: 8px;
    animation: sweep 1s ease-in-out;
}


details summary {
    border-radius: 8px;
    cursor: pointer;
}

.info p {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 5px;
}

h1 {
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.content {
    clear: both;
    width: 100%;
    margin: auto;
    padding: 50px 0px 50px 0px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}



.content p {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    line-height: 1.6;
    text-align: center;
}

.whoami {
    padding: 50px 0 calc(50px + 4vh) 0;
    background: rgb(255, 255, 255);
}

input,
textarea {
    outline: none;
    width: 300px;
    padding: 4px;
    vertical-align: top;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(241, 226, 226);
    border: 1px white;
    cursor: url('./images/cursor.png') 16 16, auto;
}

#sujet {
    width: 250px;
}

textarea {
    height: 5em;
    padding: 15px;
    resize: vertical;
}

input:hover,
textarea:hover {
    background-color: rgb(255, 207, 179);
  
}

input:focus,
textarea:focus {
    background-color: rgb(255, 246, 246);
    border-radius: 15px;
    transition: .5s;
}
input#btnsubmit {
    cursor: pointer;
     position: relative;
    background-size: 200% 100%;
    color: white;
    transition: background-position 0.5s;
    border-radius: 50px;
    background-image: linear-gradient(90deg, rgb(70, 62, 59) 50%, rgb(255, 207, 179) 50%);
    
}

input#btnsubmit:hover {
    transition: 1s;
    font-weight: 600;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
}


label {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
    vertical-align: top;
    text-align: right;
}

form p {
    padding-top: 10px;
}

form {
    width: 60%;
    margin: auto;
    margin-top: 15px;
    padding: 40px 0 40px 0;
    background-color: #fa9170;
    border: 0px solid white;
    border-radius: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
}

form::-webkit-scrollbar {
    width: 0px;
}

footer {
    clear: both;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    align-items: center;
}

footer a {
    color: rgb(87, 87, 138);
}

section#swap1 {
    background-color: white;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 10px;
    display: inline-block;
}

section#swap1 h2 {
    background-color: rgb(236, 236, 236);
}

section#swap1 a:not(.close) {
    color: rgb(247, 141, 141);
}

.profile-card {
    margin-top: -00px;
    border-radius: 8px;
    min-width: 400px;
    width: 35%;
}

.info {
    display: block;
    width: 45%;
    transition: all .3s;
    opacity: 0.9;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background:  url(./images/bg.jpg) no-repeat center;
    background-color: whitesmoke;
    background-size: cover;
    background-attachment: local;
    min-height: 105vh;
}

.scroll {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 5px;
    margin-bottom: 10px;
}

.scroll a {
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.scroll a:hover {
    transition: 0.2s linear;
    background: rgba(255, 255, 255, 0.055);
}

.scroll a:active {
    transition: 1s ease-out;
    background: none;
}

span#highlight {
    background-color: #d9e9fa;
}


/* Code du portfolio */

.boxcontainer {
    padding: 50px 100px;
}

.section-title {
    position: relative;
    font-size: 30px;
    text-align: left;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #ff9494;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: rgb(250, 248, 248);
   
    
}

.project1 {
    background-image: url(./images/project.png);
    
}


.project2 {
    background: rgb(213, 213, 248);
}

.project3 {
    background: rgb(255, 118, 118);;
}

.project4 {
    background: rgb(197, 255, 192);

}

.project-box::before {
    color: rgb(218, 84, 84);
    content: "En savoir plus";
    /* background: linear-gradient(90deg, white 9%, rgba(255, 255, 255, 0)); */
   background: white;
    opacity: 0.9;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100%;
    transition: left 0.4s;
    font-size: 25px;
    font-weight: 500;
    border: solid 0px white;
}

.project-box:hover::before {
    left: 0;
}

.project-bio {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.247);
}


.project-name {
    font-weight: 500;
    font-size: 30px;
}

.project-price {
    font-weight: 300;
    font-size: 15px;
    position: absolute;
    bottom: 5px;

}

.project-box {
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    overflow: hidden;
    transition: background 0.4s;
    
}
.project-box:hover {
    color: rgb(175, 27, 27);
    transform: scale(1.01);
}

.no-grid {
    height: 300px;
    flex: 1;
    min-width: 350px;
}


 input:valid+span:not(#spansubmit):after {
     position: absolute;
     display: inline-block;
     margin-left: 15px;
     color: rgb(80, 70, 70);
    content: '✓';
  }
   #spansubmit {
    transform: rotate(270deg);
    position: absolute;
    margin-left: -298px;
    padding: 5px;
    transition: ease-in-out .2s;
    color: rgb(255, 255, 255);
    display: none;
 }



/* Responsive */

@media screen and (min-width: 700px) and (max-width: 1024px) {
    header {
        margin: auto;
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .info {
        margin: auto;
        border-radius: 8px;
        width: 99%;
        margin-top: 20px;
        opacity: 1;
    }
    .profile-card {
        margin: auto;
        border-radius: 0px;
        min-width: 400px;
        width: 75%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    form {
        width: 80%;
        border-radius: 0px;
        padding: 40px 0px 40px 0px;
    }
    form textarea {
        width: 80%;
        min-height: 10em;
        height: auto;
    }
    header {
        display: block;
        padding-bottom: 10px;
        min-height: auto;
    }
    .scroll {
        display: none;
    }
    .whoami {
        padding: 50px 0 50px 0;
    }
    .bluredbottom {
        display: none;
     }
     .info {
         animation: none;
     }
     
}

@media screen and (max-width: 700px) {
    .info {
        margin: auto;
        width: 90%;
        margin-top: 20px;
        border-radius: 15px;
        display: block;
    }
    header {
        display: flex;
        padding-bottom: 20px;
        background-position-y: 0;
        min-height: auto;
        overflow: hidden;
    }
    form {
        width: 98%;
        border-radius: 0px;
        padding: 40px 0px 40px 0px;
        display: grid;
        
    }
    form input {
       max-width: 200px;
    }
    form textarea {
        min-height: 10em;
        max-width: 200px;
    } 
    .profile-card {
        margin: auto;
        border-radius: 0px;
        width: 100%;
    }
    header {
        display: grid;
    }
    .scroll {
        display: none;
    }
    .whoami {
        padding: 50px 0 50px 0;
    }
    .bluredbottom {
       display: none;
    }
    .info {
        animation: none;
    }
    #spansubmit {
        margin-left: -200px;
     }

    
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
    .card-footer {
        background: #303030;
        opacity: 0.9;
    }
    .item span {
        color: white;
    }
    .info {
        color: white;
        background: #303030;
    }
    .info h2 span {
        background-color: black;
        color: white;
    }
    section#swap1 {
        background-color: #303030;
    }
    section#swap1 h2 {
        background-color: rgb(92, 47, 47);
    }
    .content {
        margin-top: 0px;
        
    }
    .whoami {
        color: rgb(255, 255, 255);
        background: #303030;
    }
    footer {
        background: #303030;
        color: white;
    }
    span#highlight {
        background-color: #e66767;
        padding: 0 4px;
        border-radius: 1px;
    }
    a#link {
        color: rgb(247, 141, 141);
    }
    footer a {
        color: rgb(247, 141, 141);
    }
    .bluredbottom {
        box-shadow: #303030 0px 0 10px 45px;
    }
    .scroll a {
        background: rgba(0, 0, 0, 0.555);
    }
}