@keyframes w70 {
    from {  
        border-radius: 0%;
        background: none;
        transform: translateY(-20px);
       
    }
    to {  border-radius: 50%;
        background: linear-gradient(130deg, #ffffff, #ffffff); }
}
@keyframes w71 {
    from {  
        border-color:#ffffff;
        color:#ffffff;
       
    }
}
@keyframes w72 {
    from {  
        transform: translateY(-50px);
        background-color: rgba(255, 255, 255, 0);
        
    }
}
@keyframes fadeinright {
    from {  
        transform: translateX(400px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes fadeinup {
    from {  
        transform: translateY(200px);
        opacity:0;
    }
    to {
        transform: translateX(0px);
        opacity:1;
    }
}
@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }
    100% {
        opacity: 1;
        margin-left: 0px
    }
}
@keyframes fadein {
    0% {
        border-radius: 0%;
        opacity: 0;
    }
    100% {
        opacity: 1;
        border-radius: 100%;
    }
}
@keyframes animated-gradient {
    25% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: right top;
    }
    100% {
        background-position: left top;
    }
}
